@import "colors";

input[type=text], input[type=password] {
  padding: 10px;
  border: 1px solid $lime;
}

#login-form-div {
  width: 30%;
  margin: auto;
}

.form-section {
  padding: 10px;
  float: right;
  clear: both;
}
