@import "colors";

input[type=text], input[type=password] {
  padding: 10px;
  border: 1px solid $lime;
  border-radius: 7px;
  &:focus {
    outline: none;
    border: 1px solid $fuschia;
    box-shadow: 0 0 5px #719ECE;
  }
}

#login-form-div {
  width: 30%;
  margin: auto;
}

.form-section {
  padding: 10px;
  float: right;
  clear: both;
}

#tag-line {
  clear: both;
}
