@import 'colors';

body {
  font-family: sans-serif;
}

.top-bar {
  background-color: $turquoise;
}

#company-name{
  display: inline-block;
  font-family: "Courier New";
  font-size: 50px;
  color: $pale_green;
}

#logout{
  position: absolute;
  top: 50px;
  right: 10px;
  color: white;
}

.errors {
  color: red;
}

input[type=submit] {
  background-color: $pale_green;
  border: 2px solid $lime;
  border-radius: 10px;
  padding: 10px;
}

input[type=text], input[type=password] {
  padding: 10px;
  border: 2px solid $lime;
  border-radius: 7px;
  &:focus {
    outline: none;
    border: 2px solid $fuschia;
    box-shadow: 0 0 5px #719ECE;
  }
}

#logo {
  margin: 10px 10px -10px 10px;
}
