@import "colors";

#search-errors {
  display: inline-block;
  ul {
    list-style-type: none;
  }
}

#warehouse-search {
  form {
    display: inline-block;
  }
}

.inventory-table {
  border: thin black solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  th {
    text-align: left;
    background: $lime;
  }

  tr {
    border: medium black solid;
    &:nth-child(odd) {
      background: $gray;
    }
  }

  td {
    text-overflow: ellipsis;
  }

  .col-1 {
    min-width: 200px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;

  .smallItem {
    flex: 1;
    align-items: flex-start;
    form {
      margin-top: 20px;
      margin-left: 20px;
    }
    .warehouse-name {
      display: inline-block;
      margin-left: 25%;
    }
  }

  .bigItem {
    flex: 1;
    text-align: center;
  }

  .emptyItem {
    flex: 1;
  }

  .inventory-header {
    text-align: center;
    display: inline-block;
  }
}
